header {
    position: relative;
}
.color6 {
    background: #C84663 !important;
    color: white;
    font-family: 'satisfy', sans-serif;
}
p.nav__label {
    color: white;
    font-family: 'Text Me One',sans-serif;
    font-size: 1.2em;
}
section.color-face {
    background: url(../profile/images/side.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(40%);
}
.box {
    background: rgba(0, 0, 0, 0.58);
    display: inline-block;
    color: white;
    padding: 1.5em 4em;
    position: absolute;
    left: 2em;
    filter: opacity(100%);
}
.box h2 {
	font-family: 'satisfy',sans-serif;
	text-transform: capitalize;
	font-size: 2.5em;
}
.box hr {
    border-color: #1dadd3;
    width: 42%;
}
.box h4 {font-family: 'Text Me One',sans-serif;}

section.colorbg {
    background: url(images/bgblack.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.section__title {
    color: white;
    font-family: 'Text Me One', sans-serif;
    font-size: 2.3em;
    font-weight: 900;
    text-shadow: -1px -2px 4px wheat;
    text-transform: uppercase;
}
ul.deets {
    display: inline-block;
    border-top: 2px dotted #1dadd3;
    padding: 0;
    font-size: 1.1em;

}
ul.deets-loc {
    padding: 0;
}
#deets ul, li {
    list-style: none;
}
ul.deets li ul.deets-loc li:nth-child(1) {
    width: 40%;
	font-size: 16px;
	color: white;
	text-align: justify;
}
ul.deets li ul.deets-loc li {
    display: inline-block;
    font-size: 16px;
    line-height: 3em;
    width: 50%;
    text-align: justify;
    color: white;
}
.abt {
    color: white;
    font-family: 'text me one',sans-serif;
    text-transform: capitalize;
}
.abt h3 {
    color: white;
    font-family: 'Text me one',sans-serif;
    text-transform: capitalize;
}
.abt span {
    color: #c84663;
    font-weight: 900;
    font-family: 'allura',sans-serif !important;
    font-size: 1.2em
}
.write-up {
    color: white;
    font-family: 'text me one',sans-serif;
    padding: 1em
}
.write-up h4 {
    font-size: 1.1em;
}
.philo h4 {
    color: white;
    font-family: 'text me one',sans-serif;
}
.philo span {
    color: #c84663;
    font-weight: 900;
    font-family: 'allura',sans-serif;
    font-size: 2em;
}
.box5 {
    width: 20%;
    float: none;
    display: inline-block;
}
.box5 img {
    width: 50%;
    height: 50%;
}
h4.circle {
    color: white;
    font-family: 'Text me one',sans-serif;
    padding-bottom: 1em;
}
